.header {
    display: grid;
    grid-template-columns: 1fr 200px;
    height: 100px;
    margin-top: 20px;
}
#apps a {
    vertical-align: middle;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}
#apps a:hover {
    text-decoration: underline;
}
#apps span {
    vertical-align: middle;
}
#googleBox {
    text-align: center;
}
#googleBox img {
    border-radius: 20px;
}
#gSearch {
    margin: auto;
    margin-top: 25px;
    width: 540px;
    height: 38px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 50px 440px 50px;
    line-height: 50px;
    box-shadow: 2px 2px 3px 3px rgb(228, 228, 228);
    }
#gSearch .material-icons{
    margin-left: 11px;
}
#gSearch #search {
    margin-left: 16px;
}

input[type="text"] {
    width: 440px;
    height: 25px;
    border : 1px solid #ffffff;
    font-size: 15px;
}
#gSearch > div:nth-of-type(2) {
    margin-top: -7px;
}